// $vars

$cf-1: #fff;
$cf-2: #000;
$cf-3: #444;
$cf-4: #888;

$tan: #CEB992;
$grn: #73937E;
$gry: #585563;
$wine: #5B2E48;
$red: #471323;

$font-size: 1em;
$font-fam-1: sans-serif;
$font-fam-2: monospace;

// global styles

html, body {
  width: 90%;
  min-height: 100%;
  background: $tan;
  section {
    border: 1px solid black;
  }
}

body {
  font-size: $font-size;
  font-family: $font-fam-1;
  color: $cf-2
}

h1 {
  font-size: $font-size * 1.5;
  font-family: $font-fam-2;
  color: $cf-3;
}

h2 {
  font-size: $font-size * 1.3;
  font-family: $font-fam-2;
  color: $cf-4;
}

img {
  min-width: 5vw;
}
